.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}
.footer-content-left, .footer-content-centre, .footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left img{
    width: 180px;
    height: 90px;
    object-fit: contain;
}
.footer-content-left li, .footer-content-centre li, .footer-content-right li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;

}
.footer-content-left h2, .footer-content-centre h2{
    color: white;
}
.footer-social-icon img{
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
}
.footer hr{
    width: 100%;
    height: 1px;
    background-color: grey;
    border: none;
}
.footer-content-right li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

@media(max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footercopyright{
        text-align: center;
    }
}